
form {
  display: flex;
  flex-direction: column;
}

form img {
  width: 150px;
  height: 150px;
  margin: 50px 0 0 600px;
  border-radius: 50%;
  border: 2px solid rgb(8, 8, 49);
}

form label {
  margin-left: 730px;
  margin-top: -40px;
  font-size: 30px;
  color: gray;
}

form input {
  width: 600px;
  height: 50px;
  border: none;
  font-size: 18px;
  margin-top: 25px;
  margin-left: 400px;
  padding-left: 10px;
  box-shadow: 3px 11px 20px 1px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 3px 11px 20px 1px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 3px 11px 20px 1px rgba(0, 0, 0, 0.23);
}

form input::placeholder {
  font-size: 20px;
  padding-left: 10px;
}

form button {

  width: 150px;
  height: 40px;
  margin: 30px;
  margin-left: 620px;
  background-color: rgb(8, 8, 49);
  color: white;
  font-size: 15px;
}

.arroBack {

  font-size: 55px;
  margin-left: 100px;
  padding-top: 100px;
}